<div class="row">
  <!-- --------------------------------------------------------------------------- -->
  <!-- Profit & Expenses -->
  <!-- --------------------------------------------------------------------------- -->
  <div class="col-lg-8">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
      
        
        <div *ngIf="chatForm.value.bot" class="chat">
          <div class="chat-title">
            <h1>{{ chatForm.value.bot.id ? "Gemini" : "" }}</h1>
            <h2>
              {{ chatForm.value.bot.id ? "Google Deep Mind" : "" }}
            </h2>
        
          </div>
          <div #messagesContainer class="messages">
            <h2 *ngIf="messagesHistory.length < 1" class="welcome-message">Hola, Usuario de Rosales y Asociados?</h2>
            <div *ngFor="let message of messagesHistory" [ngClass]="{'gemini': message.role === 'model', 'user': message.role === 'user'}">
              <mat-icon *ngIf="message.role === 'model'">comment</mat-icon>
              <mat-icon *ngIf="message.role === 'user'">person</mat-icon>
              <span>
                {{ message.role === 'model' ? 'AI' : 'User' }}:
              </span>
              <span [innerHTML]="message.parts | convertTextToHtml"></span>
            </div>
        
            <div class="loading-container">
              <mat-spinner *ngIf="loading"></mat-spinner>
            </div>
          </div>
          <div class="message-box">
            <div class="prepared-messages">
              <ul>
                <li *ngFor="let question of (chatForm.value.bot.id ? gQuestions : bQuestions)" (click)="sendMessage(question); userMessage = ''">
                  {{ question }}
                </li>
              </ul>
            </div>
            <mat-form-field appearance="fill">
              <textarea
                [(ngModel)]="userMessage"
                (keydown.enter)="sendMessage(userMessage!); userMessage = null"
                matInput
                placeholder="Pregunta {{ chatForm.value.bot.value }}"
                rows="2"
              ></textarea>
            </mat-form-field>
            <button
              (click)="sendMessage(userMessage!); userMessage = null"
              [disabled]="!userMessage || loading"
              mat-raised-button
              color="primary"
            >
              Send
            </button>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>
  <!-- --------------------------------------------------------------------------- -->
  <!-- end Profit & Expenses -->
  <!-- --------------------------------------------------------------------------- -->

