<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">REGISTRO DE TRABAJADORES</mat-card-title>
  
    </mat-card-header>
    <mat-card-content class="b-t-1">
    <br>
      <div class="row">
        

        <div class="col-12">
          <!-- ------------------------------------------------------------------------- -->
          <!-- Input -->
          <!-- ------------------------------------------------------------------------- -->
  

          
          
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  